<!doctype html>
<html ng-app="myApp">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="script.js"></script>
</head>
<body>
<div>
    <div class="container" ng-controller="eventsCtrl">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">Events</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Napier Developer Society</h3>
        </div>

        <div class="jumbotron">
            <h1>Events</h1>
            <pre>From https://www.googleapis.com/calendar/v3/calendars/j0js43u21s8tu9j2s1q9bhhrtk%40group.calendar.google.com/events?key={Google API Key here}</pre>
            <a href="https://docs.angularjs.org/tutorial/step_05" target="_blank">https://docs.angularjs.org/tutorial/step_05</a>
        </div>

        <div class="alert alert-info" ng-show="events.length < 1">
            There are no events to show for now!
        </div>
        <div ng-show="events.length > 0">
            <label>Search: <input ng-model="searchText"></label>
            <table class="table table-condensed table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Starting at</th>
                        <th>Ending at</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="event in events | filter: { status: 'confirmed', summary: searchText }">
                        <td>{{ event.summary }}</td>
                        <td>{{ event.start.dateTime | date:"MM/dd/yyyy @ h:mma" }}</td>
                        <td>{{ event.end.dateTime | date:"MM/dd/yyyy @ h:mma" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <footer class="footer">
            <p>&copy; 2016 Napier Developer Society.</p>
        </footer>

    </div> <!-- /container -->
</div>
</body>
</html>